.testStep_elements{
    display: flex;
    justify-content: space-around;
}

.testStep{
    padding: 14px 0 15px;
    border-bottom: 1px solid gray;
}

.testStep_field{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.testStep_field_run{
    width: 40%;
}